.tippy-box {
  &[data-placement$='start'] > .tippy-arrow {
    transform: translate(5px) !important;
  }
  &[data-placement$='end'] > .tippy-arrow {
    right: 0 !important;
    left: auto !important;
    transform: translate(-5px) !important;
  }
}

.tippy-box[data-theme~='neo'] {
  background-color: rgb(var(--tooltip-bg));

  &[data-placement^='top'] > .tippy-arrow::before {
    border-top-color: rgb(var(--tooltip-bg));
  }
  &[data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: rgb(var(--tooltip-bg));
  }
  &[data-placement^='left'] > .tippy-arrow::before {
    border-left-color: rgb(var(--tooltip-bg));
  }
  &[data-placement^='right'] > .tippy-arrow::before {
    border-right-color: rgb(var(--tooltip-bg));
  }

  .tippy-content {
    @apply font-primary text-xs font-normal;
    color: rgb(var(--tooltip-text));
  }

  li {
    @apply whitespace-nowrap;

    a,
    button {
      @apply block cursor-pointer p-1 text-xs;
    }

    button {
      @apply my-1;
    }

    &:first-child {
      button {
        @apply mt-0;
      }
    }

    &:last-child {
      button {
        @apply mb-0;
      }
    }
  }

  a {
    color: rgb(var(--tooltip-text));
  }
}

.tippy-box[data-theme~='dropbutton'] {
  .tippy-content {
    @apply p-1;

    a,
    button {
      // Reset styling that may be set my other modules.
      @apply h-auto w-full overflow-auto rounded-sm border-none bg-base-900 px-2 indent-0 text-xs font-bold hover:bg-base-600 hover:text-base-content-600;
    }
  }
}
